@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");

$color--card: #fdfdfd;
$color--white: #fff;
$color--bg: #d7d7d7;
$color--shadow: #1e1e1e;
$color--main: #0091eb;
$color--code: #9100f9;
$color--green: #62fb4e;
$color--light-green: #caffc3;

body {
  margin-top: 0;
  background-color: $color--bg;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

code {
  font-weight: 600;
  color: $color--code;
}

nav {
  position: sticky;
  top: 0;
  padding: 1rem;
  background-color: $color--card;
  box-shadow: 0.5rem 0.5rem 1rem $color--shadow;

  * {
    color: $color--main;
    text-decoration: none;
    font-size: x-large;
    font-weight: 700;
    padding: 0 1rem;

    border-right: dotted $color--code 3px;

    &:last-child {
      border-right: none;
    }
  }
}

input[type="text"],
input[type="number"] {
  font-family: "Roboto", sans-serif;
  font-size: larger;
  margin: 0.5rem;
  border-radius: 3px;
  border: $color--bg 1px solid;
  width: 10rem;
  padding: 0.5rem;

  //Remove arrow/spinner
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

select {
  padding: 0 1rem;
}

button,
.button {
  border: transparent;
  border-radius: 3px;
  color: $color--white;
  background-color: $color--main;
  width: 5rem;
  padding: 0.5rem;
}

.form-group {
  textarea {
    font-family: "Roboto", sans-serif;
    font-size: larger;
    resize: vertical;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    width: 80%;
    min-height: 6rem;
  }
}

.card {
  max-width: 35rem;
  padding: 1rem;
  margin: 1rem auto;
  background-color: $color--card;
}

.response {
  textarea {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    border-radius: 5px;
    text-align: center;
    font-weight: 300;
    resize: vertical;
    padding: 0.5rem 1rem;
    width: 90%;
    min-height: 8rem;
  }
}

.cep-card {
  border: transparent;
  border-radius: 10px;
  background: $color--light-green;
  h1 {
    padding: 0.4rem;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-size: larger;
    font-weight: 500;
    background: $color--green;
  }
  .body {
    font-weight: 300;
    padding: 0.5rem;
  }
}

.error-window {
  top: 20vh;
  left: 35vh;
  position: fixed;
  width: 25rem;
  height: 15rem;
  background-color: $color--card;

  .header {
    color: $color--code;
  }
}

// Special
.shadow {
  box-shadow: 0.5rem 0.5rem 1rem $color--shadow;
}

.rounded {
  border-radius: 1rem;
}

.grid {
  display: grid;
  justify-content: space-around;
  &-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  &-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  * {
    justify-self: center;
  }
}

.flex {
  display: flex;

  &-col {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &-row {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  * {
    margin: 0.5rem;
  }
}
